.logo-start{
    width: 153px;
    margin: auto;
    margin-top: 133px;
}

.input{
    width: 226px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    --placeholder-color: gray;
}