<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img href="/" src="assets/img/esports.png" style="width:50px; "></ion-img>
        </ion-col>
        <ion-col>
          <ion-searchbar></ion-searchbar>
        </ion-col>
        <ion-col>
          <div style="float:right">Rully 50pts</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/img/FIFA20_500.jpg"/>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>28 Juni 2030</ion-card-subtitle>
      <ion-card-subtitle>12.00 - 17.30</ion-card-subtitle>
      <ion-card-subtitle>Universitas Multimedia Nusantara</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-col>
          <ion-row>
            <img class="btnPembayaran" src="assets/img/Logo_BCA.jpg">
            <img class="btnPembayaran" src="assets/img/logo_gopay.jpg">
            <img class="btnPembayaran" src="assets/img/Logo_OVO.png">
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <img class="btnPembayaran" src="assets/img/logo_dana.jpg">
            <img class="btnPembayaran" src="assets/img/Indomaret.png">
            <img class="btnPembayaran" src="assets/img/800px-ALFAMART_LOGO_BARU.png">
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <hr>

  <h2>Pembelian</h2>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div>Tiket yang dipilih</div>
      </ion-col>
      <ion-col size="3">
        <div>Jumlah</div>
      </ion-col>
      <ion-col size="3">
        <div>Harga</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div>FIFA 20 Competition</div>
      </ion-col>
      <ion-col size="3">
        <div>1</div>
      </ion-col>
      <ion-col size="3">
        <div>Rp.50.000</div>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col size="3">
        <div>Admin</div>
      </ion-col>
      <ion-col size="3">
        <div></div>
      </ion-col>
      <ion-col size="3">
        <div>Rp.1.000</div>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col size="3">
        <div>TOTAL</div>
      </ion-col>
      <ion-col size="3">
        <div></div>
      </ion-col>
      <ion-col size="3">
        <div>Rp.51.000</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <span style="color:green;" >Pastikan untuk cek kembali tiket yang akan kamu beli</span>
  <br>
  <ion-button color="warning">DAFTAR</ion-button>
</ion-content>
