<ion-content color="primary">

  <ion-img class="logo-start" src="assets/img/avatar.png"></ion-img>
  <h1 style="font-family: sans-serif; font-size: xxx-large; text-align: center; font-weight: 600;">Hello,<br>Welcome</h1>
  <h6 style="font-family: verdana;text-align: center;margin: 0;">Enjoy our application</h6>
  <ion-input placeholder="Email" type="text" class="input"></ion-input>
  <ion-input placeholder="Password" type="password" class="input"></ion-input>

  <ion-button href="/home" expand="block" color="tertiary" style="margin: 26px 120px 7px 120px;">Sign Up</ion-button>

  <h6 style="font-family: verdana;text-align: center;margin: 0;">
    Already have account?
      <a href="/signin">
        <span style="color: blue; text-decoration: strikethrough;">Login</span>
      </a>
    </h6>

</ion-content>
