<ion-content color="primary">

  <ion-img class="logo-start" src="assets/img/esports.png"></ion-img>
  <h1 style="font-family: sans-serif; font-size: xxx-large; text-align: center; font-weight: 600;">Sign Up</h1>
  <h6 style="font-family: verdana;text-align: center;margin: 0;">It's easier to sign up now</h6>
  <ion-button expand="block" color="light" style="margin: 14px 45px 0px 46px;">
    <ion-img src="assets/img/facebook-logo-round.png" style="margin-right: 10px; width: 30px;"></ion-img>
    <span style="color: cornflowerblue;">Continue with facebook</span>
  </ion-button>
  <ion-button href="/signup" expand="block" style="margin: 14px 45px 0px 46px; border-radius: 10px;border: 1px solid white;">
    <span style="color:white;">I'll use email or phone</span>
  </ion-button>

  <ion-grid>
    <ion-row style="margin: 0px 90px 0px 90px;">
      <ion-col>
        <ion-img src="assets/img/google-logo.png" style="width: 30px;"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="assets/img/google-logo.png" style="width: 30px;"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="assets/img/google-logo.png" style="width: 30px;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h6 style="font-family: verdana;text-align: center;margin: 0;">
    Already have account?
      <a href="/signin">
        <span style="color: blue;text-decoration: underline;">Login</span>
      </a>
    </h6>

</ion-content>
