<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img href="#" src="assets/img/esports.png" style="width:30px; "></ion-img>
        </ion-col>
        <ion-col style="text-align: center; align-self:center;">
          TECHNO
        </ion-col>
        <ion-col style="text-align: right; align-self:center;">
          Rully <span style="color:green">50pts</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar></ion-searchbar>

  <!-- <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" (click)="slidePrev()">
    <ion-icon name="arrow-back"></ion-icon>
  </div>
  <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" (click)="slideNext()">
    <ion-icon name="arrow-forward"></ion-icon>
  </div> -->
  <ion-slides paginationType="bullets" slidesPerView="1" pager="true">
    <ion-slide>
     <ion-card>
      <img src="assets/img/DotaFlyer_Final_Banner.jpg"/>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <img src="assets/img/DotaFlyer_Final_Banner.jpg"/>
    </ion-card>
    </ion-slide>
    <ion-slide>
     <ion-card>
      <img src="assets/img/DotaFlyer_Final_Banner.jpg"/>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- <ion-icon style="text-align:left;" name="arrow-back-outline"></ion-icon>
  <ion-icon style="text-align:right;" name="arrow-forward-outline"></ion-icon> -->

  <!-- <ion-grid>
    <ion-row>

      <ion-col size="6"> -->
       
        <div style="margin:10px;">
          <h3>Event saat ini</h3> 
        </div>

        <ion-card href="/detail">
          <img src="assets/img/FIFA20_500.jpg"/>
          <ion-card-header>
            <ion-card-title class="card-title">Indonesia E-Sports League University Series</ion-card-title>
            <ion-card-subtitle class="card-subtitle" color="warning">FIFA 20 Competition</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-icon name="calendar-outline"></ion-icon> 28 Juni 2030<br>
            <ion-icon name="time-outline"></ion-icon> 12.00 - 17.30<br>
            <ion-icon name="location-outline"></ion-icon> Universitas Multimedia Nusantara<br>
          </ion-card-content>
        </ion-card>

        <ion-card href="/detail">
          <img src="assets/img/FIFA20_500.jpg"/>
          <ion-card-header>
            <ion-card-title class="card-title">Indonesia E-Sports League University Series</ion-card-title>
            <ion-card-subtitle class="card-subtitle" color="warning">FIFA 20 Competition</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-icon name="calendar-outline"></ion-icon> 28 Juni 2030<br>
            <ion-icon name="time-outline"></ion-icon> 12.00 - 17.30<br>
            <ion-icon name="location-outline"></ion-icon> Universitas Multimedia Nusantara<br>
          </ion-card-content>
        </ion-card>
        
      <!-- </ion-col>

      <ion-col size="6" size-lg>
        <ion-card href="/detail">
          <img src="assets/img/FIFA20_500.jpg"/>
          <ion-card-header>
            <ion-card-title>FIFA 20 Competition</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            28 Juni 2030<br>
            12.00 - 17.30<br>
            Universitas Multimedia Nusantara<br>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col size="6">
        <ion-card href="/detail">
          <img src="assets/img/FIFA20_500.jpg"/>
          <ion-card-header>
            <ion-card-title>FIFA 20 Competition</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            28 Juni 2030<br>
            12.00 - 17.30<br>
            Universitas Multimedia Nusantara<br>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-lg>
        <ion-card href="/detail">
          <img src="assets/img/FIFA20_500.jpg"/>
          <ion-card-header>
            <ion-card-title>FIFA 20 Competition</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            28 Juni 2030<br>
            12.00 - 17.30<br>
            Universitas Multimedia Nusantara<br>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col size="6">
        <ion-card href="/detail">
          <img src="assets/img/FIFA20_500.jpg"/>
          <ion-card-header>
            <ion-card-title>FIFA 20 Competition</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            28 Juni 2030<br>
            12.00 - 17.30<br>
            Universitas Multimedia Nusantara<br>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-lg>
        <ion-card href="/detail">
          <img src="assets/img/FIFA20_500.jpg"/>
          <ion-card-header>
            <ion-card-title>FIFA 20 Competition</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            28 Juni 2030<br>
            12.00 - 17.30<br>
            Universitas Multimedia Nusantara<br>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid> -->

</ion-content>
